@font-face{
	font-family: "Ubuntu-Regular";
	src: url(/views/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face{
	font-family: "Ubuntu-Medium";
	src: url(/views/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face{
	font-family: "Ubuntu-Light";
	src: url(/views/assets/fonts/Ubuntu-Light.ttf);
}

@font-face{
	font-family: "Ubuntu-Bold";
	src: url(/views/assets/fonts/Ubuntu-Bold.ttf);
}

